*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#pop-up{
 display: flex;
 position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0); /* dim background */
  display: none; 
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
#pop-up-in{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 250px;
    width: 350px;
    bottom: 20%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 3px 3px 3px black;
    background-image: url('./Frontend/assets/bg.jpg');
    background-size: cover;
    background-position: center;
}
#content{
    position: absolute;
    display: flex;
    border-radius: 70px;
    height: 200px;
    width: 300px;
    justify-content: center;
    align-items: center;
}
#popup-message{
    color: black;
    font-weight: bold;
    font-size: large;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
}
#btn{
    position: absolute;
    width: 60px;
    height: 40px;
    border-radius: 10px;
    left: 40%;
    font-size: larger;
    background-color: white;
    cursor: grabbing;

}
#btn:hover{
    background-color: green;
    font-size: small;
}