*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body{
      background-image: url('./assets/bg.jpg');
      background-size: cover;
      background-position: center;
}
/* login  */
 .wrapper{
    display: flex;
    position: relative;
    width: 300px;
    height: 400px;
    margin: 20px;
    box-shadow: 0 5px 5px rgb(14, 13, 13);
    border-radius: 10px;
    left: 35%;
    top: 50%;
    margin-top: 80px;
    background-color: white;
    background-image: url(./assets/bg.jpg);
    background-size: cover;
    background-position: center;
} 
 .login{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
   transform: translate(-50%,-50%);
   height: 370px;
   width: 280px;
   border-radius: 10px;
   color: black;
}
.login .form{
     margin-top: 50px;
     margin: 30px;
     display: flex;
     flex-wrap: wrap;
     gap: 5px;
     justify-content: center;
     margin-top: 80px;
}
.login input{
    font-size: 18px;
    height: 30px;
    display: flex;
    border: 2px solid black;
    border-radius: 5px;
    outline: none;
    box-shadow: 0 3px 3px black;
}
.login input::placeholder{
    color: white;
}
.login h1{
    margin-bottom: 10px;
}
.wrapper .login .btn{
    margin-top: 20px;
    height: 40px;
    width: 70px;
    border-radius: 10px;
    color: black;
}
.wrapper .login a{
    color: blue;
}